.background-image-sign-up {
  background-size: cover;
  width: 100vw;
  height: 101vh;
  margin-top: -67px;
  background-image: asset-url("veggies.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
