@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');


.home-main-div {
  background-color: transparent;
  display: flex;
  height: 400px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family:'Josefin Sans', thin;
    font-size: 25px;
    letter-spacing: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}


.logo-box {
}

.title-box-home {
 h1 { font-family: 'Amatic SC', bold;
  font-size: 80px;
  font-style: bold;
  font-variant: bold;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 14px;
   }
}

.tagline{
  font-family: 'Amatic SC', bold;
  font-size: 40px;
  // letter-spacing: 5px;
  padding-top: 35px;
}

.search-and-submit-box {
  display: flex;
  width: 420px;
  transition: 0.5s;
  height: 50px;
  justify-content: center;
    display: flex;
  justify-content: space-between;


  .search-button {
    width: 150px;
  background-color: #FF6D24;
  border-radius: 0 5px 5px 0;
  border: 0;
  height: 50px;
  color: white;
  font-weight: bold;
  // vertical-align: middle;
  // padding: 0 auto;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .form-control-home {
    border-radius: 5px 0 0 5px !important;
  }

}


.big-picture {
  background-image: asset-url('blueberries-girl-two.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #eee;
  margin-top: -63px;
}


.search {
  width: 400px;
  height:50px;
  background: #444;
  background: rgba(0,0,0,.5);
  border-radius: 5px 5px 5px 5px !important;
  margin-top: 36px;
  transition: 0.5s;
 }
.search:hover {
transform: scale(1.1)
}
.search input {
  margin-left: 10px;
  vertical-align: center;
  width: 420px;
  height: 50px;
  padding: 10px 5px;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;}



.search button:hover {background: #fff;color:#444;}
.search button:active {box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

