.heading-container{
display: flex;
justify-content: center;
text-align: center;
padding-top: 35px;
padding-bottom: 30px;
color: #45454d;
    font-family:'Josefin Sans', thin;
}

.index-container{
  max-width: 1300px;
}
