
.recipe-name  {
  background-color: white;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 100%;
  height: 120px;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 80px;
  h1  {
  padding-top: 0px;
  font-family: 'Amatic SC', bold;
  font-style: bold;
  font-variant: bold;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 14px;
  font-size: 50px;
  margin: 0;
  width: 100%;
  }
}

.recipe-card-show  {
  height: 450px;
  overflow: scroll;
  width: 100%;
  background-color: white;
  align-text: center;
  justify-content: center;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  opacity: 0.85;
  border-radius: 5px;
  font-size: 40px;
  font-family: "Roboto Condensed";
  p {
    font-size: 23px;
    text-align: justify;
    margin-bottom: 0px;
  }
  h3 {
    font-family: "Roboto Condensed";
    font-size: 25px;
    text-align: justify;
    padding-bottom: 17px;
  }

}

.show-container-recipe {
  display: flex;
  padding-top: 28px;
  .show-container-left-recipe {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-bottom: 0;

  }
  .show-container-right-recipe {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
}

.border-radius-description-recipe {
    margin-left: 30px;
    margin-top: 0px;
    margin-right: 0px;
  width: 96%;
  height: 100%;
  padding: 2.5px;
  background-color: white;
  opacity: 0.85;
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.16);
}

.recipe-background {
  background-image: asset-url('cuttingboard-dark.jpg');
  width: 100vw;
  padding-top: 70px;
  background-size: cover;
  width: 100vw;
  height:120vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.box-one-recipe {
  display: flex;
  background-color: #FF6A34;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  padding: 3px;
  padding-top: 12px;
  position: absolute;
  z-index: 1000;
  bottom: 13px;
  right: 185px;
  h3 {
    color: white;
    font-family: 'Josefin Sans';
    font-size: 20px;
     font-style: bold;
  font-variant: bold;
  }
}
.box-two-recipe {
  display: flex;
  background-color: #FF6A34;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  padding: 3px;
  padding-top: 12px;
  position: absolute;
  z-index: 1000;
  bottom: 13px;
  left: 200px;
  h3 {
    color: white;
  font-family: "Roboto Condensed";
    font-size: 20px;
     font-style: bold;
  font-variant: bold;
  }
}
