<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
   <div class="flash flash-danger alert alert-dismissible fade show floating-flash" role="alert">
  <div class= 'flash-container' >
  <div style = 'text-align:right' data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </div>
  <div class = 'oops' style = 'text-align:center'><strong>Oops!</strong> </div>
  <div class="logo-box-flash" style = 'text-align:center'>
    <%= image_tag "logo_red.png", alt: "alttext", :size => '230x230'%>
  </div>
  <% ingr = @ingredient.name.downcase if @ingredient %>
  <% ingredient_season = IngredientSeason.where({ county: current_user.county, ingredient: @ingredient }).first if @ingredient %>
  <% ingredient_season_month = ingredient_season.start if @ingredient %>
  <% months = ['January','February','March','April','May','June','July','August','September','October','November','December'] %>
  <div style = 'text-align:center'>It seems <%= ingr.pluralize if @ingredient %> aren't in season until <%= months[ingredient_season_month.month - 1] if @ingredient %>. Why not ask <span class='oops-f'>Freya</span> for something fresh and local.</div>
  </div>
  </div>
<% end %>
