<div class="big-picture">
<br>
<br>
<br>
<br>
<br>
<br>

<div class="home-main-div">
<div class="logo-box">
 <%= image_tag "Freya_Logo_Orange-crop.png", alt: "alttext", :size => '230x230'%>
</div>
<div class="title-box-home">
  <br>
<h1>Freya</h1>
</div>
<h2 class='tagline'> Find fresh with Freya </h2>
  <%= form_tag county_search_path, class: "search" , method: :get do %>
  <div class="search-and-submit-box">
  <%= text_field_tag :query, nil, class: "form-control-home search-text", placeholder: "Enter your county"%>
  <%= button_tag(type: "submit", class: "search-button") do %>
    <div>Search</div>
  <% end %>

  </div>
<% end %>
</div>
</div>
