
.alert {
  position: fixed;
  top: 21%;
  left: calc(50% - 200px);
  z-index: 1000;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  width: 400px;
  animation: shadow-pulse 1.5s infinite;
}

.flash-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}

.logo-box-flash {
}

.oops{
  font-family: 'Amatic SC', bold;
  font-size: 30px;
  font-style: bold;
}

.oops-f{
  font-family: 'Amatic SC', bold;
  font-size: 30px;
  font-weight: bold;
}


@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}


