/*layout for card grid */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

/*styling for card components */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding: 0;
    border-radius: 15px;
    &:hover{
      transition: 0.25s;
      opacity: 1;
      transform: scale(1.10);
  }
}

.veg-card, .veg-card-long {
    height: 300px;
    margin-bottom: 50px;
    width: 93%;
}

.ingredient-card, .veg-card-long {
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.16);
}

.card-img{
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.ingredient-card-info{
  height: 100px;
  padding-left: 15px;
  padding-top:10px;
  background: white;
  border-radius: 0 0 15px 15px;
  color: black;
  h2 {
    font-family: 'Amatic SC', bold;
    font-weight: bold;
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
  }
}

.top-banner-card{
  background-size: cover;
  height: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: -63px;
  h1{
    font-family: 'Amatic SC', bold;
  font-size: 72px;
  font-style: bold;
  font-variant: bold;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 14px;
  }
}

.vegetable-position{
  background-position: 50% 90%;
}

.fruit-position{
  background-position: 50% 65%;
}

.meat-position{
    background-position: 50% 55%;
  }

.fish-position{
  background-position: 50% 50%;
  width: 100vw
}
